# Module 12 Challenge
## Deliverable 1: Scrape Titles and Preview Text from Mars News

In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [85]:
browser = Browser('chrome')

### Step 1: Visit the Website

1. Use automated browsing to visit the [Mars news site](https://static.bc-edx.com/data/web/mars_news/index.html). Inspect the page to identify which elements to scrape.

      > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools.

In [86]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars news site: https://static.bc-edx.com/data/web/mars_news/index.html
url = 'https://redplanetscience.com/'
browser.visit(url)

### Step 2: Scrape the Website

Create a Beautiful Soup object and use it to extract text elements from the website.

In [87]:
# Create a Beautiful Soup object
html = browser.html
soup = soup(html, 'html.parser')

In [88]:
# Extract all the text elements
# Retrieve the parent divs for all articles
results = soup.find_all('div', class_='list_text')

# create alist to store the results 
article_list = []

for result in results:
    
    # Scrape the article title
    header = result.find('div', class_='content_title').text.strip()
    
    # Scrape the article paragraph
    text = result.find('div', class_='article_teaser_body').text
    
    # print article data
    print('------------------------')
    print(title)
    print(text)
    
    # create a dict 
    article_dict = {}
    article_dict['title'] = header
    article_dict['preview'] = text
    # append a dict to a list
    article_list.append(article_dict)

------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
Learn more about the agency's next Red Planet mission during a live event on June 17.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
Scientists are finding new mysteries since the geophysics mission landed two years ago.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
There are lots of ways to participate in the historic event, which is targeted for July 30.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
The team also fueled the rover's sky crane to get ready for this summer's history-making launch.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.
------------------------
SAM's Top 5 Discoveries Aboard NASA's Curiosity Rover at Mars
A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.

In [89]:
print(article_list)

[{'title': "NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound", 'preview': "The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet."}, {'title': 'NASA to Hold Mars 2020 Perseverance Rover Launch Briefing', 'preview': "Learn more about the agency's next Red Planet mission during a live event on June 17."}, {'title': 'NASA Adds Return Sample Scientists to Mars 2020 Leadership Team', 'preview': 'The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.'}, {'title': "3 Things We've Learned From NASA's Mars InSight", 'preview': 'Scientists are finding new mysteries since the geophysics mission landed two years ago.'}, {'title': "NASA's Mars 2020 Heads Into the Test Chamber", 'preview': 'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.'}, {'title': 'NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch', 'preview': 'There are lots of ways to participate in the historic event, which is targeted for July 30.'}, {'title': "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover", 'preview': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'}, {'title': "Hear Audio From NASA's Perseverance As It Travels Through Deep Space", 'preview': "The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight."}, {'title': 'MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss', 'preview': 'Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.'}, {'title': 'Independent Review Indicates NASA Prepared for Mars Sample Return Campaign', 'preview': 'NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.'}, {'title': "Mars Helicopter Attached to NASA's Perseverance Rover", 'preview': "The team also fueled the rover's sky crane to get ready for this summer's history-making launch."}, {'title': 'Scientists Explore Outback as Testbed for Mars', 'preview': "Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars."}, {'title': 'Mars Scientists Investigate Ancient Life in Australia', 'preview': "Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. "}, {'title': "Screening Soon: 'The Pathfinders' Trains Lens on Mars", 'preview': 'With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.'}, {'title': "NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'", 'preview': 'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.'}]

In [90]:
browser.quit()

### Step 3: Scrape the image website for a featured image

In [14]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars news site
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [15]:
# Create a Beautiful Soup object
html = browser.html
soup = soup(html, 'html.parser')

### Step 4: Mars Facts
Visit the Mars Facts webpage [here](https://galaxyfacts-mars.com) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [17]:
import pandas as pd

In [18]:
url = 'https://galaxyfacts-mars.com/'

In [20]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
df = tables[1]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [28]:
df.columns = ['Parameter','Value']
df['Parameter'] = df['Parameter'].str.replace(':','')
df.head(10)

             Parameter                          Value
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons          2 ( Phobos & Deimos )
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [29]:
df_html = df.to_html()
print(df_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>